<!DOCTYPE html>
<html lang="es">
    <%- include('../partials/head') %>
<body>
    <div class="login-container">
        <form id="login-form" class="form-container" action="/login/login" method="POST" enctype="application/x-www-form-urlencoded" >
            <h2 class="login-titulo">Inicio de Sesión</h2>
            <label class="login-label" for="usuario">Usuario:</label>
            <input class="login-input" type="text" id="usuario" name="usuario" required>
            <label class="login-label" for="contrasena">Contraseña:</label>
            <input class="login-input" type="password" id="contrasena" name="contrasena" required>
            <button type="submit">Ingresar</button>

            <p class="register-text">¿No tienes cuenta? <a href="/login/formAdmin">Regístrate aquí</a></p>
            <p class="register-text"><a href="/">Volver al Inicio</a></p>
        </form>
    </div>

    <!-- <script src="/js/loginAuth.js"></script> -->
</body>
</html>
