<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head', {title: 'Refugio Mascotas'}) %>

<body>
  <%- include('../partials/header') %>

  <div class="body-index sombra">
    <div class="comentario">
      <div class="globo sombra">
        <p>¡Bienvenido a Nuestro Refugio </p>
        <p>de Amigos Peludos! </p>
        <p>Donde cada cola tiene una historia feliz.</p>
        <i class="fa-solid fa-paw"></i>
      </div>
    </div>
    <div class="body-texto">
      <div class="body-cuadro sombra">
        <h1>Nuestro Refugio de Amigos Peludos</h1>

        <a href="contacto" class="inicio-button">¡Adopta, Dona o sé Voluntario hoy mismo!</a>
      </div>
    </div>
  </div>

  <%- include('../partials/footer') %>
 

  <script src="js/nav.js"></script>
  <script src="js/script.js"></script>

</body>
</html>