<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {title: 'Refugio Mascotas'}) %>
<body>
    <%- include('../partials/header') %>
    <h1>Aquí van los perros traidos de la base de datos</h1>
    <main class="main_nuestros_perros">
        
    </main>
    <%- include('../partials/footer') %>
</body>
</html>